
<%-contentFor('body') %>

<h1> This is Log In Page </h1>

<h1 id="head">
    <img src="/img/logo.png" class="img-circle" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
  Worth_Reads
</h1>

    <h1 id="head">Log In form</h1>
    <img class="bottom-right" src="/img/image2.png" alt=" Image">
    <form id="signup-form" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required placeholder="amina2662" style="font-family: Lucida Console;">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required placeholder="......" style="font-family: Lucida Console;">
      <a href="/"> 
        Log In</button>
      </a>
      </h5>
      <div class="form-message"></div>
    </form>