
<%-contentFor('body') %>
	<div class="container2">
		<img class="top-left" src="/img/image9.png" alt="First Image">
      	<img class="bottom-right" src="/img/land.png" alt="Second Image">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<h5>
					<img src="/img/logo.png" class="img-circle" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
				Worth_Reads</h5>
				<h1>Welcome to Our Bookstore</h1>
				<p id="char-by-char">Discover the latest and greatest books from your favorite authors.</p>
				<a href="/land/add"> 
					<button class="btn btn-lg btn-secondary">Explore Now</button>
				</a>
			</div>
		</div>
	</div>
	