
<%-contentFor('body') %>
<div class="container1">
    <h1>
        <img src="/img/Category.png" class="img-circle" alt="Logo" width="150" height="150" class="d-inline-block align-text-top">
    </h1>
    <h1 class="heading">BOOK CATEGORIES</h1>
    <div class="button-group">
        <a href="#fiction">
            <button class="btn">Fiction</button>
        </a>
        <a href="#comic">
            <button class="btn">Comic</button>
        </a>
        <a href="#literature">
            <button class="btn">Literature</button>
        </a>
        <a href="#science">
            <button class="btn">Science</button>
        </a>
        <a href="#fairy_tales">
            <button class="btn">Fairy Tales</button>
        </a>
        <a href="#travel">
            <button class="btn">Travel</button>
        </a>
        <a href="#history">
            <button class="btn">History</button>
        </a>
        <a href="#cooking">
            <button class="btn">Cooking</button>
        </a>
        <a href="#art">
            <button class="btn">Art and Design</button>
        </a>
        <a href="#mystery">
            <button class="btn">Mestery</button>
        </a>
        <a href="#thriller">
            <button class="btn">Thriller</button>
        </a>
        <a href="#action">
            <button class="btn">Action</button>
        </a>
        <a href="#business">
            <button class="btn">Business</button>
        </a>
        <a href="#children">
            <button class="btn">Children's Books</button>
        </a>
        <a href="#poetry">
            <button class="btn">Poetry</button>
        </a>
        <a href="#biography">
            <button class="btn">Biography</button>
        </a>
        <a href="#non-fic">
            <button class="btn">Non-Fiction</button>
        </a>
    </div>
</div>

<!-- Card -->  
<section class="reviews" id="fiction">
    <div class="container">
        <h2 class="text-center"><u> Fiction </u></h2>
        <div class="row text-center">
          <div class="col-md-3">
            <div class="card">
                <img src="/img/fiction1.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/fiction2.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/fiction3.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/fiction4.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-secondary btn-lg" style="width: 200px; left:300px">Explore this category</button>
          </div>
        </div>
    </div>
</section>

<section class="reviews" id="comic">
    <div class="container">
        <h2 class="text-center"><u>Comic</u></h2>
        <div class="row text-center">
          <div class="col-md-3">
            <div class="card">
                <img src="/img/comic1.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/comic2.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/comic3.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/comic4.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-secondary btn-lg" style="width: 200px; left:300px">Explore this category</button>
          </div>
        </div>
    </div>
</section>

    <section class="reviews" id="literature">
    <div class="container">
        <h2 class="text-center"><u>Literature</u></h2>
        <div class="row text-center">
          <div class="col-md-3">
            <div class="card">
                <img src="/img/literature1.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/literature2.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/literature3.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/literature4.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-secondary btn-lg" style="width: 200px; left:300px">Explore this category</button>
          </div>
        </div>
    </div>
</section>

<section class="reviews" id="science">
    <div class="container">
        <h2 class="text-center"><u>Science</u></h2>
        <div class="row text-center">
          <div class="col-md-3">
            <div class="card">
                <img src="/img/science1.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/science2.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/science3.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/science4.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-secondary btn-lg" style="width: 200px; left:300px">Explore this category</button>
          </div>
        </div>
    </div>
</section>

<section class="reviews" id="fairy_tales">
    <div class="container">
        <h2 class="text-center"><u>Fairy Tales</u></h2>
        <div class="row text-center">
          <div class="col-md-3">
            <div class="card">
                <img src="/img/fairy1.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/fairy2.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/fairy3.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/fairy4.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-secondary btn-lg" style="width: 200px; left:300px">Explore this category</button>
          </div>
        </div>
    </div>
</section>

<section class="reviews" id="travel">
    <div class="container">
        <h2 class="text-center"><u>Travel</u></h2>
        <div class="row text-center">
          <div class="col-md-3">
            <div class="card">
                <img src="/img/travel1.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/travel2.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/travel3.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/travel4.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-secondary btn-lg" style="width: 200px; left:300px">Explore this category</button>
          </div>
        </div>
    </div>
</section>

<section class="reviews" id="history">
    <div class="container">
        <h2 class="text-center"><u>History</u></h2>
        <div class="row text-center">
          <div class="col-md-3">
            <div class="card">
                <img src="/img/history1.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/history2.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/history3.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/history4.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-secondary btn-lg" style="width: 200px; left:300px">Explore this category</button>
          </div>
        </div>
    </div>
</section>

<section class="reviews" id="cooking">
    <div class="container">
        <h2 class="text-center"><u>Cooking</u></h2>
        <div class="row text-center">
          <div class="col-md-3">
            <div class="card">
                <img src="/img/cook1.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/cook2.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/cook3.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
                <img src="/img/cook4.png" alt="Category 1">
                <div class="card-body">
                  <h3>Dune</h3>
                  <p>by Frank Herbert</p>
                  <p>Published in 1965</p>
                  <p>Pages: 896</p>
                  <p>Price: $12.99</p>
                </div>
            </div>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-secondary btn-lg" style="width: 200px; left:300px">Explore this category</button>
          </div>
        </div>
    </div>
</section>